button {
    padding: 1em;
}

.menu-window {
    width: 90vw;
    background: seagreen;
    position: fixed;
}

.menu-item > a {
    display: flex;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}